<% provide(:title, "About") %>
<div class="row">
  <div class="col-10 mx-auto my-5" style="background-color: white;">
    <div>
      <p style="text-align: right;">
        令和2年4月26日
      </p>
      <p style="text-align: left;">
        Corucu利用者各位
      </p>
      <p style="text-align: right;">
        Corucu制作者
        <br>
        山下永遠
      </p>

      <h1>Corucuについてのご案内</h1>
      <p>拝啓　時下ますますご清栄のこととお喜び申し上げます。</p>
      <p>この度、私が個人開発していたWebアプリケーション"Corucu"を公開する運びとなりましたことをご報告いたします。</p>
      <p>つきましては、下記の通りにCorucuについての情報を記載しておりますので、ご覧ください。</p>
      <p>なお、ご不明な点などございましたら、問い合わせ先までお気軽にお問合せください。</p>
      <p style="text-align: right;">
        敬具
      </p>
      
      <h3 style="text-align: center;">
        記
      </h3>
      <h3>1.概要</h3>
      <p>
        Corucuとは、授業の変更や追試験、再試験についての情報を一元的に管理するWebアプリケーションです。
      </p>
      <h3>2.機能</h3>
      <p>授業の変更や追試験、再試験についての情報の閲覧</p>
      <p>授業の変更や追試験、再試験についての情報の新規追加・編集・削除</p>
      <p>授業科目についての情報の閲覧</p>
    
      <h3>3.お問合せ先</h3>
      <p>メールアドレス / corucu-official(at)gmail.com</p>
      <p>メールを送られる際にはatを@に置き換えてください。</p>
      <h3 style="text-align: right;">
        以上
      </h3>

      <center>
        <%= link_to 'さっそく使用してみる', root_url, class: "btn btn-primary" %>
      </center>
    </div>
  </div>
</div>
