<% provide(:title, "ヘルプ") %>
<div class="row">
    <div class="col-10 mx-auto my-5 p-5" style="background-color: white;">
        <div>
            <h1>
                ヘルプ
            </h1>
            <p>
                this is Help-page.<br>
                I'm sorry. :( <br>
                This page will be filled out at a later date.<br>
            </p>
        </div>
    </div>
</div>