<div class="row">
    <div class="col-10 col-lg-8 mx-auto p-5">
        <div class="card text-center">
            <div class="card-header">
                <h1>
                    教科の登録
                </h1>
            </div>
            <div class="card-body">
                <%= render 'form', subject: @subject %>
            </div>    
            <div class="card-footer text-muted">
                <%= link_to t('scaffold.back'), subjects_path, class: "btn btn-outline-dark btn-block" %>
            </div>
        </div>
    </div>
</div>