<div style="background-color: #696969;">
    <ul class="nav nav-pills nav-fill justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <font color="white">
                    <i class="fa fa-home fa-3x fa-fw"></i>
                    <span class="d-none d-lg-block">Home</span>
                </font>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">
                <font color="white">
                    <i class="fa fa-info-circle fa-3x fa-fw"></i>
                    <span class="d-none d-lg-block">About</span>
                </font>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contacts/new">
                <font color="white">
                    <i class="fa fa-envelope fa-3x fa-fw"></i>
                    <span class="d-none d-lg-block">Contact</span>
                </font>
            </a>
        </li>
    </ul>
</div>