<% if user_signed_in? %>
    <div class="card text-white bg-secondary">
        <div class="card-body">
            <%= "現在ログインしているユーザ:" + current_user.username %>
        </div>
    </div>
<% end %>
