<div>
  <small>
    Corucu is created by TowaYamashita.
  </small>

  <nav>
    <ul>
      <li><%= link_to "ヘルプ",         help_path %></li>
      <li><%= link_to "Corucuについて", about_path %></li>
      <li><%= link_to "お問合せ",       contacts_new_path %></li>
    </ul>
  </nav>
</div>
